:root {
  --main-bg-color: #1b212f;
  --main-fg-color: #ffffff;
  --pop-color-1: #f8b800;
  --pop-color-2: #112a62;
  --pop-color-3: #eed3c5;
  color: white;
}

body, html{
  height: 100%;
  overflow: hidden;
  background-color: var(--main-bg-color);
}
.container_left{grid-area: xleft;}
.container_right{grid-area: xright;}
.container_bottom{grid-area: xbot;}
.about {grid-area: xabout;}
.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 0.4fr;
  grid-template-columns: 25% auto;
  grid-template-areas: 
    "xleft xright"
    "xleft xbot"
    "xabout xabout";
}
/* .container_left, .container_right, .container_bottom { */
  /* border-style: dotted; */
  /* border-color: white; */
/* } */

.container_left{
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* background-color: var(--pop-color-1); */
  font-size: 1.2rem;
}
.header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--pop-color-1);
  color: var(--main-bg-color);
  padding: 1rem;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
}
.trial {
  background-color: none;
}

.container_right{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
}

.container_bottom{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  /* background-color: var(--pop-color-1); */
  background-color: var(--main-fg-color);
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 500;
  color: var(--main-bg-color);
}

.about {
  display: flex;
  padding: 1rem;
  font-size: 2rem;
  background-color: var(--pop-color-1);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: var(--main-bg-color);
}

.homebutton{ 
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 500;
  background-color: transparent; 
  padding: 1em;
  width: 100%;
  /* height: 50%; */
  height: 100%;
  border: none;
  color: var(--main-fg-color);
  font-size: 1.5rem;
 } 

.homebutton:hover{ 
  background-color: var(--pop-color-1);
  transition: 1s;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  body, html{
    overflow: scroll;
  }
  .nestbox1 { grid-area: n1; width :  100%;}
  .nestbox2 { grid-area: n2;}
  .nestbox3 { grid-area: n3;}
  .nestbox4 { grid-area: n4;}
  .nestbox5 { grid-area: n5;}

  .container {
    height: 100%;
    display: grid;
    /* grid-template-rows: 0.5fr; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30% auto;
    grid-template-areas: 
      "xleft xright"
      "xleft xright"
      "xbot";
  }
  .container_left {
    grid-template-rows: 1fr 1fr;
  }
  .container_right{
    /* justify-items: end; */
    /* display: grid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-areas: 
      "n1"
      "n2"
      "n3"
      "n4"
      "n5"; */
  }
  .homebutton{
    height: 100%;
    margin: 1rem;
  }
}