:root {
  --main-bg-color: #1b212f;
  --main-fg-color: #ffffff;
  --pop-color-1: #f87521;
  --pop-color-2: #112a62;
  --pop-color-3: #eed3c5;
  font-family: 'IBM Plex Mono', monospace;
}

.box1 { grid-area: x1; }
.box2{ grid-area: x2; }
.nestbox1 { grid-area: x3; }
.nestbox2 { grid-area: x4; }
.nestbox3 { grid-area: x5; }
.nestbox4 { grid-area: x6; }
.nestbox5 { grid-area: x7; }

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  overflow: hidden;
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}

.container {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-areas:
    'x1 x3 x4 x5 x6'
    'x2 x2 x2 x2 x7';
  padding: 1rem;
  grid-gap: 1rem;
  border-style: none;
  background: none;
  height: 100vh;
  text-align: center;
}

.box1{
  /* grid-template-rows: 3fr 3fr 1fr; */
  background-color: var(--pop-color-1);
}

.box2{
  justify-items: space-evenly;
  align-items: space-evenly;
  /* grid-template-rows: 2fr 3fr;
  grid-template-columns: 3fr 2fr; */
}
.credits, .header, .summary {
  height: 100%;
  padding: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.credits{
  background-color: var(--main-bg-color);
  color: var(--pop-color-1);
}
.summary {
  color: var(--pop-color-1);
}
.homebutton{
  font-family: 'IBM Plex Mono', monospace;
  width:80%;
  height:80%;
  margin: 1rem;
  background-color: transparent; 
  border: none;
  color: var(--main-fg-color);
  font-size: 6vh;
}

.homebutton:hover{
  background-color: var(--pop-color-1);
  transition: 1s;
  cursor: pointer;
}

.navigation {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-content: right;
}

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-content: center;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}